# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Virtual environment
venv/
env/

# macOS
.DS_Store

# VS Code settings
.vscode/

# Render build artifacts
build/
